---
- name: cloudpanel
  hosts: all
  gather_facts: true
  become: true

  tasks:

    - name: Ensure APT is updated and basic packages installed
      block:
        - name: Update APT cache
          apt:
            update_cache: true
            cache_valid_time: 3600
        - name: Basic Packages
          apt:
            name:
              - software-properties-common
              - gnupg
              - curl
              - ca-certificates
              - nano
              - unzip
              - wget
            state: present
            update_cache: true

    - name: Check OS compatibility
      fail:
        msg: "CloudPanel only allowed in Ubuntu 24.04."
      when: >
        ansible_facts['distribution'] != 'Ubuntu'
        or ansible_facts['distribution_version'] is version('24.04', '!=')

    - name: Install Cloudpanel
      block:
        - name: Check if clpctl exists
          shell: command -v clpctl
          register: clpctl_check
          ignore_errors: true
          changed_when: false
          failed_when: false
        - name: Download CloudPanel installer
          get_url:
            url: https://installer.cloudpanel.io/ce/v2/install.sh
            dest: /tmp/install.sh
            mode: '0755'
            force: yes
          when: clpctl_check.rc != 0
        - name: Verify SHA256 checksum
          shell: >
            echo "19cfa702e7936a79e47812ff57d9859175ea902c62a68b2c15ccd1ebaf36caeb  /tmp/install.sh"
            | sha256sum -c -
          register: checksum
          changed_when: false
          failed_when: checksum.rc != 0
          when: clpctl_check.rc != 0
        - name: Run CloudPanel installer
          shell: |
            DB_ENGINE=MARIADB_11.4 bash /tmp/install.sh
          when: clpctl_check.rc != 0
          async: 1800
          poll: 0
          register: clp_job
        - name: Wait for CloudPanel installation to finish
          async_status:
            jid: "{{ clp_job.ansible_job_id }}"
          register: clp_result
          until: clp_result.finished
          retries: 120
          delay: 10
          when: clpctl_check.rc != 0
        - name: Check if clpctl exists
          shell: command -v clpctl

    - name: Add sites
      block:
        - name: Check if site exists
          stat:
            path: "/home/{{ (item.value.domain | split('.'))[0] }}"
          loop: "{{ sites | dict2items }}"
          register: site_exists
        - name: Add sites (clpctl) only if missing
          command: >
            clpctl site:add:php
            --domainName={{ domain }}
            --phpVersion=8.4
            --vhostTemplate=Generic
            --siteUser={{ site_user }}
            --siteUserPassword={{ site_pass }}
          loop: "{{ site_exists.results }}"
          vars:
            domain: "{{ item.item.value.domain }}"
            site_user: "{{ (domain | split('.'))[0] }}"
            site_pass: "{{ lookup('ansible.builtin.password', '/dev/null length=14 chars=ascii_letters,digits') }}"
          when: not item.stat.exists
          args:
            creates: "/home/{{ site_user }}"
          changed_when: true
        - name: Generate DB passwords (only for existing sites)
          set_fact:
            db_passwords: >-
              {{ db_passwords | default({}) | combine({
                domain: lookup('ansible.builtin.password', '/dev/null length=14 chars=ascii_letters,digits')
              }) }}
          loop: "{{ site_exists.results }}"
          vars:
            domain: "{{ item.item.value.domain }}"
          when: item.stat.exists
        - name: Add databases (clpctl) only if site exists
          command: >
            clpctl db:add
            --domainName={{ domain }}
            --databaseName={{ site_user }}
            --databaseUserName={{ site_user }}
            --databaseUserPassword={{ db_passwords[domain] }}
          loop: "{{ site_exists.results }}"
          vars:
            domain: "{{ item.item.value.domain }}"
            site_user: "{{ (domain | split('.'))[0] }}"
          when: item.stat.exists
          register: db_add
          changed_when: true
        - name: Show generated DB passwords (per domain)
          debug:
            msg: "Domain={{ domain }} DBUser={{ site_user }} DBPassword={{ db_passwords[domain] }}"
          loop: "{{ site_exists.results }}"
          vars:
            domain: "{{ item.item.value.domain }}"
            site_user: "{{ (domain | split('.'))[0] }}"
          when: item.stat.exists
          no_log: false
