---
- name: cloudpanel
  hosts: all
  gather_facts: true
  become: true

  tasks:

    - name: Ensure APT is updated and basic packages installed
      block:
        - name: Update APT cache
          apt:
            update_cache: true
            cache_valid_time: 3600
        - name: Basic Packages
          apt:
            name:
              - software-properties-common
              - gnupg
              - curl
              - ca-certificates
              - nano
              - unzip
              - wget
            state: present
            update_cache: true

    - name: Check OS compatibility
      fail:
        msg: "CloudPanel only allowed in Ubuntu 24.04."
      when: >
        ansible_facts['distribution'] != 'Ubuntu'
        or ansible_facts['distribution_version'] is version('24.04', '!=')

    - name: Install Cloudpanel
      block:
        - name: Check if clpctl exists
          shell: command -v clpctl
          register: clpctl_check
          ignore_errors: true
          changed_when: false
          failed_when: false
        - name: Download CloudPanel installer
          get_url:
            url: https://installer.cloudpanel.io/ce/v2/install.sh
            dest: /tmp/install.sh
            mode: '0755'
            force: yes
          when: clpctl_check.rc != 0
        - name: Verify SHA256 checksum
          shell: >
            echo "19cfa702e7936a79e47812ff57d9859175ea902c62a68b2c15ccd1ebaf36caeb  /tmp/install.sh"
            | sha256sum -c -
          register: checksum
          changed_when: false
          failed_when: checksum.rc != 0
          when: clpctl_check.rc != 0
        - name: Run CloudPanel installer
          shell: |
            DB_ENGINE=MARIADB_11.4 bash /tmp/install.sh
          when: clpctl_check.rc != 0
          async: 1800
          poll: 0
          register: clp_job
        - name: Wait for CloudPanel installation to finish
          async_status:
            jid: "{{ clp_job.ansible_job_id }}"
          register: clp_result
          until: clp_result.finished
          retries: 120
          delay: 10
          when: clpctl_check.rc != 0
        - name: Check if clpctl exists
          shell: command -v clpctl

    - name: List Sites
      block:
        - name: List active sites from /home
          block:
            - name: Find top-level directories in /home
              find:
                paths: /home
                file_type: directory
                depth: 1
                hidden: false
              register: home_dirs
              changed_when: false
            - name: Build sites list excluding system folders
              set_fact:
                cloudpanel_active_sites: >-
                  {{
                    home_dirs.files
                    | map(attribute='path')
                    | map('basename')
                    | reject('in', ['ubuntu', 'mysql', 'clp'])
                    | list
                  }}
              changed_when: false
            - name: Show active sites
              debug:
                msg:
                  active_sites: "{{ cloudpanel_active_sites }}"
              changed_when: false
        - name: Build desired site users from sites keys
          set_fact:
            desired_site_users: "{{ sites.keys() | list }}"
          changed_when: false
        - name: Compute missing and extra site users
          set_fact:
            missing_site_users: "{{ desired_site_users | difference(cloudpanel_active_sites) }}"
            extra_site_users: "{{ cloudpanel_active_sites | difference(desired_site_users) }}"
          changed_when: false

    - name: Add / remove sites
      block:
        - name: Add missing sites (clpctl)
          command: >
            clpctl site:add:php
            --domainName={{ sites[item].domain }}
            --phpVersion=8.4
            --vhostTemplate=Generic
            --siteUser={{ item }}
            --siteUserPassword={{ sites[item].user_password }}
          loop: "{{ missing_site_users }}"
          changed_when: true
        - name: Add databases for newly added sites (clpctl)
          command: >
            clpctl db:add
            --domainName={{ sites[item].domain }}
            --databaseName={{ item }}
            --databaseUserName={{ item }}
            --databaseUserPassword={{ sites[item].db_password }}
          loop: "{{ missing_site_users }}"
          changed_when: true
        - name: Delete extra sites not present in sites var (force)
          command: >
            clpctl site:delete
            --domainName=www.{{ item }}.INVALID
            --force
          loop: "{{ extra_site_users }}"
          changed_when: true
          failed_when: false