name: main

on:
  workflow_dispatch:
  
permissions:
  contents: read
  issues: write

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3
      - name: Setup Ansible
        run: sudo apt-get install -y ansible
      - name: Check VARS secret exists
        env:
          VARS_JSON: ${{ secrets.VARS_JSON }}
        run: |
          if [ -z "$VARS_JSON" ]; then
            echo "Error: Secret VARS is missing or empty"
            exit 1
          fi
      - name: Export VARS env as outputs
        id: export_vars
        env:
          VARS_JSON: ${{ secrets.VARS_JSON }}
        run: |
          echo "$VARS_JSON" | jq -r 'to_entries[] | "\(.key)=\(.value)"' \
            | while IFS= read -r line; do
                echo "$line" >> $GITHUB_OUTPUT
                echo "Output ${line%%=*}"
              done
      - name: Create vars.json from secret
        run: |
          echo '${{ secrets.VARS_JSON }}' > vars.json
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{steps.export_vars.outputs.aws_access_key_id}}
          aws-secret-access-key: ${{steps.export_vars.outputs.aws_secret_access_key}} 
          aws-region: ${{steps.export_vars.outputs.aws_region}}
      - name: Creates / Checks state bucket
        env:
          BUCKET_NAME: ${{steps.export_vars.outputs.project_name}}-bucket-state
          AWS_REGION: ${{steps.export_vars.outputs.aws_region}}
        run: |
          if aws s3api head-bucket --bucket "$BUCKET_NAME" 2>/dev/null; then
            echo "Bucket already exists: $BUCKET_NAME"
          else
            echo "Bucket does not exist. Creating: $BUCKET_NAME"
            aws s3api create-bucket --bucket "$BUCKET_NAME" \
              --region "$AWS_REGION" \
              --create-bucket-configuration LocationConstraint="$AWS_REGION"

            echo "Applying public access block to $BUCKET_NAME"
            aws s3api put-public-access-block --bucket "$BUCKET_NAME" --public-access-block-configuration BlockPublicAcls=true,IgnorePublicAcls=true,BlockPublicPolicy=true,RestrictPublicBuckets=true

            echo "Enabling versioning for $BUCKET_NAME"
            aws s3api put-bucket-versioning --bucket "$BUCKET_NAME" --versioning-configuration Status=Enabled

            echo "Enabling default encryption (SSE-S3) for $BUCKET_NAME"
            aws s3api put-bucket-encryption --bucket "$BUCKET_NAME" --server-side-encryption-configuration '{"Rules":[{"ApplyServerSideEncryptionByDefault":{"SSEAlgorithm":"AES256"}}]}'
          fi
      - name: Create TF Backend (jq -> backend.tf.json)
        env:
          BUCKET_NAME: ${{steps.export_vars.outputs.project_name}}-state
          AWS_REGION: ${{steps.export_vars.outputs.aws_region}}
        run: |
          tee backend.tf > /dev/null <<EOF
          terraform {
            backend "s3" {
              bucket = "$BUCKET_NAME"
              key    = "terraform.tfstate"
              region = "$AWS_REGION"
              encrypt = true
            }
          }
          EOF
          echo "backend.tf created"
      - name: Terraform init
        run: terraform init -input=false
      - name: Terraform plan (using vars.json)
        run: terraform plan -input=false -no-color -var-file=vars.json -out=tfplan
      - name: Terraform show
        run: terraform show -no-color tfplan > plan.txt
      - name: Await Manual Approval
        id: approval
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ secrets.GITHUB_TOKEN }}
          minimum-approvals: 1
          approvers: ${{ github.actor }}
          issue-title: "Manual Approval Required for Terraform Apply"
          issue-body-file-path: plan.txt
      - name: Terraform apply
        run: terraform apply -auto-approve tfplan
